name: Crawl protocols 

on:
  workflow_dispatch:
  schedule:
    - cron: '41 2 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    container: florenz2/pdf_scrape:latest_

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Check parlament.tg.ch availability
      run: |
        echo "Testing reachability..."
        curl -I --max-time 20 https://parlament.tg.ch/ || true

    - name: Execute script 
      env:
        PUSHKEY: ${{ secrets.PUSHKEY }}
        PAT: ${{ secrets.PAT }}
      run: |
        Rscript run_scrape.R

    - name: GIT Commit Build Artifacts (coverage, dist, devdist, docs)
      run: |
        git config --global --add safe.directory /__w/sitzungsprotokolle/sitzungsprotokolle
        git config --global user.name "GitHub Actions"
        git config --global user.email "username@users.noreply.github.com"
        git add .
        git commit -m "check for new protocol" || echo "Nothing to commit"
        git push
